In [3]:
import pandas as pd

# Especifique o caminho para o arquivo Excel
excel_file_path = r'E:\CentralDeAtendimento\Projetos\PainelCATPlus\arquivos_apoio\Distribuição de Demandas - Out2023.xlsx'

# Use a função read_excel para ler o arquivo Excel
xls = pd.ExcelFile(excel_file_path)

# Obtenha a lista de nomes de planilhas no arquivo
sheet_names = xls.sheet_names

# Itere pelas planilhas e carregue cada uma em um DataFrame do pandas
data = {}  # Dicionário para armazenar DataFrames de cada planilha

for sheet_name in sheet_names:
    data[sheet_name] = xls.parse(sheet_name)
    print(sheet_name)

# Agora você tem cada planilha em um DataFrame separado no dicionário 'data'
# Você pode acessar cada planilha pelo seu nome, por exemplo: data['NomeDaPlanilha']

PAINEL
Aprov. de estudos
Atestado, Declaração ou Certidã
Cancelamento de matrícula
Correção ou Alter. de Dados Cad
Data Especial de Col. de Grau
Ementas
Histórico Escolar
2ª Via Diploma de Grad.
2ª Via DiplomaCertif. de Pós-Gr
Trancamento
Reintegração
Nome Social
Restituição de taxa
Transferência(ex-officio)
Dilatação de curso
Disciplina Isolada
Outros
Nova Graduação na mesma ABI
Ingresso de Refugiados
Auxiliar
Urgência diploma digital

In [4]:
df_atestados = data['Atestado, Declaração ou Certidã']

# Transforma a primeira linha em cabeçalho
df_atestados.columns = df_atestados.iloc[0]

# Remove a primeira linha (opcional)
df_atestados= df_atestados[1:]

df_atestados.columns

df_atestados = df_atestados[['ATRIBUÍDO PARA','STATUS','SETOR','DATA PROTOCOLO']]

df_atestados.rename(columns={'ATRIBUÍDO PARA':'nome_operador','STATUS':'status','SETOR':'setor','DATA PROTOCOLO':'data_protocolo'},inplace=True)

In [5]:
df_atestados.columns

Index(['nome_operador', 'status', 'setor', 'data_protocolo'], dtype='object', name=0)

In [7]:
df_atestados['data_protocolo'] = df_atestados['data_protocolo'].astype(str)

In [8]:
def separa_data(data_protocolo):
    return data_protocolo.split(' ')[0]


df_atestados.data_protocolo = df_atestados.data_protocolo.apply(separa_data)

df_atestados

0    nome_operador       status setor data_protocolo
1              NaN          NaN   NaN            nan
2           RENATA  PROTOCOLADO  SGLA     2023-10-02
3           RENATA  PROTOCOLADO  SGLA     2023-10-02
4     ANA CRISTINA  PROTOCOLADO  SGLA     2023-10-02
5     ANA CRISTINA  PROTOCOLADO  SGLA     2023-10-02
...            ...          ...   ...            ...
1666           NaN          NaN   NaN            nan
1667           NaN          NaN   NaN            nan
1668           NaN          NaN   NaN            nan
1669           NaN          NaN   NaN            nan
1670           NaN          NaN   NaN            nan

[1670 rows x 4 columns]

In [9]:
df_atestados['data_protocolo'].unique()

array(['nan', '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05',
       '2023-10-06', '2023-10-09', '2023-10-19', '2023-10-10',
       '2023-09-10', '2023-10-11', '2023-10-16', '2023-10-17',
       '2023-10-18', '2023-10-20', '2023-10-23', '2023-10-24',
       '2023-10-25', '2023-10-26', '2023-10-27', '2023-10-31',
       '2023-11-01', '2023-11-06', '2023-11-09', '2023-11-10',
       '2023-11-13', '2023-11-14', '2023-11-16', '2023-11-17'],
      dtype=object)

In [10]:
df_atestados.dropna(inplace=True)

len(df_atestados['nome_operador'])

146

In [11]:
df_atestados.head()

0 nome_operador       status setor data_protocolo
2        RENATA  PROTOCOLADO  SGLA     2023-10-02
3        RENATA  PROTOCOLADO  SGLA     2023-10-02
4  ANA CRISTINA  PROTOCOLADO  SGLA     2023-10-02
5  ANA CRISTINA  PROTOCOLADO  SGLA     2023-10-02
6        RENATA  PROTOCOLADO  SGLA     2023-10-02