In [227]:
import tabula
import pandas as pd

caminho_pdf = r'E:\CentralDeAtendimento\Projetos\PainelCATPlus\atendimento_presencial\teste.pdf'

# Extrair dados do PDF para uma lista de DataFrames
lista_dataframes = tabula.read_pdf(caminho_pdf, pages='all', multiple_tables=True)

In [228]:
print(len(lista_dataframes))

lista_dataframes[0].columns

29

Index(['Senha', 'Data Chamada', 'Unnamed: 0', 'Início', 'Fim', 'Duração',
       'Permanência', 'Triado', 'Atendente'],
      dtype='object')

In [229]:
lista_dataframes[0]

,Senha,Data Chamada,Unnamed: 0,Início,Fim,Duração,Permanência,Triado,Atendente
0,NaN,01/11/2023 08:44:50,NaN,08:44:52,08:45:04,00:00:12,00:11:34,Outros,4.060677e+09
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,serviços,NaN
2,O1,Serviços realizados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,COPESE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,01/11/2023 08:45:08,NaN,08:45:08,09:01:58,00:16:50,00:17:03,Retirada de,4.060677e+09
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,documentos,NaN
6,D1,Serviços realizados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,CDARA,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,01/11/2023 10:28:39,NaN,10:28:39,10:28:53,00:00:14,00:17:06,Outros,1.608465e+10
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,serviços,NaN
10,O2,Serviços realizados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,OUTROS (Setor/Assunto),NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,01/11/2023 10:28:53,NaN,10:28:55,10:29:06,00:00:11,00:15:19,Outros,1.608465e+10
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,serviços,NaN
14,O3,Serviços realizados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,OUTROS (Setor/Assunto),NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
# Colunas desejadas
colunas_desejadas = ['Senha', 'Data Chamada', 'Início', 'Triado', 'Atendente']

# Verifique a presença de colunas em cada DataFrame antes de concatenar
for i in range(len(lista_dataframes)):
    colunas_presentes = set(lista_dataframes[i].columns)
    colunas_a_selecionar = set(colunas_desejadas)
    
    if colunas_a_selecionar.issubset(colunas_presentes):
        df_final = pd.concat([df_final, lista_dataframes[i][colunas_desejadas]], ignore_index=True)
    else:
        print(f"Algumas colunas não estão presentes no DataFrame {i + 1}")

Algumas colunas não estão presentes no DataFrame 2
Algumas colunas não estão presentes no DataFrame 3
Algumas colunas não estão presentes no DataFrame 4
Algumas colunas não estão presentes no DataFrame 5
Algumas colunas não estão presentes no DataFrame 6
Algumas colunas não estão presentes no DataFrame 7
Algumas colunas não estão presentes no DataFrame 8
Algumas colunas não estão presentes no DataFrame 9
Algumas colunas não estão presentes no DataFrame 10
Algumas colunas não estão presentes no DataFrame 11
Algumas colunas não estão presentes no DataFrame 12
Algumas colunas não estão presentes no DataFrame 13
Algumas colunas não estão presentes no DataFrame 14
Algumas colunas não estão presentes no DataFrame 15
Algumas colunas não estão presentes no DataFrame 16
Algumas colunas não estão presentes no DataFrame 17
Algumas colunas não estão presentes no DataFrame 18
Algumas colunas não estão presentes no DataFrame 19
Algumas colunas não estão presentes no DataFrame 20
Algumas colunas não estão presentes no DataFrame 21
Algumas colunas não estão presentes no DataFrame 22
Algumas colunas não estão presentes no DataFrame 23
Algumas colunas não estão presentes no DataFrame 24
Algumas colunas não estão presentes no DataFrame 25
Algumas colunas não estão presentes no DataFrame 26
Algumas colunas não estão presentes no DataFrame 27
Algumas colunas não estão presentes no DataFrame 28
Algumas colunas não estão presentes no DataFrame 29

In [ ]:
# Concatene os DataFrames na lista ao longo das linhas
for df in lista_dataframes:
    df_final = pd.concat([df_final, df], ignore_index=True)
    df_final

In [ ]:
df_final[0]

In [ ]:
df = df_final[['Senha', 'Data', 'Início', 'Serviço\rTriado', 'Atendente' ]]
df.head()