In [14]:
import pandas as pd

# Especifique o caminho para o arquivo Excel
excel_file_path = r'C:\projetos\PainelCATPlus\arquivos_apoio\Distribuição de Demandas - CAT.xlsx'

# Use a função read_excel para ler o arquivo Excel
xls = pd.ExcelFile(excel_file_path)

# Obtenha a lista de nomes de planilhas no arquivo
sheet_names = xls.sheet_names

# Itere pelas planilhas e carregue cada uma em um DataFrame do pandas
data = {}  # Dicionário para armazenar DataFrames de cada planilha

for sheet_name in sheet_names:
    data[sheet_name] = xls.parse(sheet_name)

# Agora você tem cada planilha em um DataFrame separado no dicionário 'data'
# Você pode acessar cada planilha pelo seu nome, por exemplo: data['NomeDaPlanilha']

c:\Users\carlos\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:223: UserWarning: Cell I2897 is marked as a date but the serial value 6695143.0 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\carlos\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:223: UserWarning: Cell L679 is marked as a date but the serial value 6695125.0 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\carlos\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:223: UserWarning: Cell I75 is marked as a date but the serial value 6692357.0 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)
c:\Users\carlos\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:223: UserWarning: Cell I165 is marked as a date but the serial value 6696264.0 is outside the limits for dates. The cell will be treated as an error.
  warn(msg)

In [15]:
df_aprov_estudos = data['Aprov. de estudos']
df_aprov_estudos
# Transforma a primeira linha em cabeçalho
df_aprov_estudos.columns = df_aprov_estudos.iloc[0]

# Remove a primeira linha (opcional)
df_aprov_estudos= df_aprov_estudos[1:]
df_aprov_estudos

,Contagem,ATRIBUÍDO PARA,STATUS,OBSERVAÇÃO,SETOR,NUMERO DE PROCESSO,N.º Documento SEI,DATA PROTOCOLO,Recebido em,Endereço de e-mail,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,LUIZ FELIPE,PROTOCOLADO,NaN,COORDENAÇÃO,23071.920047/2022-63,821291,2022-06-07 00:00:00,2022-06-06 17:08:40,uldson.paiva@estudante.ufjf.br,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,0,LÍLIAN,PROTOCOLADO,NaN,COORDENAÇÃO,23071.924913/2020-25,822472,2022-06-07 00:00:00,2022-06-07 15:58:54,joaovmatthiesen@gmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,0,LÍLIAN,PROTOCOLADO,NaN,COORDENAÇÃO,23071.920268/2022-13,823452,2022-06-08 00:00:00,2022-06-07 18:05:44,moyra_freitas@yahoo.com.br,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,0,LÍLIAN,PROTOCOLADO,NaN,COORDENAÇÃO,23071.920238/2022-47,823249,2022-06-08 00:00:00,2022-06-07 23:51:40,bianca.wertz@estudante.ufjf.br,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
5,0,LÍLIAN,PROTOCOLADO,NaN,COORDENAÇÃO,23071.920372/2022-18,824686,2022-06-08 00:00:00,2022-06-08 16:08:35,edup@hotmail.com,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3216,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3217,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3218,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3219,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN