In [1]:
import pandas as pd

# Especifique o caminho para o arquivo Excel
excel_file_path = r'E:\CentralDeAtendimento\Projetos\PainelCATPlus\arquivos_apoio\Distribuição de Demandas - Out2023.xlsx'

# Use a função read_excel para ler o arquivo Excel
xls = pd.ExcelFile(excel_file_path)

# Obtenha a lista de nomes de planilhas no arquivo
sheet_names = xls.sheet_names

# Itere pelas planilhas e carregue cada uma em um DataFrame do pandas
data = {}  # Dicionário para armazenar DataFrames de cada planilha

for sheet_name in sheet_names:
    data[sheet_name] = xls.parse(sheet_name)
    print(sheet_name)

# Agora você tem cada planilha em um DataFrame separado no dicionário 'data'
# Você pode acessar cada planilha pelo seu nome, por exemplo: data['NomeDaPlanilha']

PAINEL
Aprov. de estudos
Atestado, Declaração ou Certidã
Cancelamento de matrícula
Correção ou Alter. de Dados Cad
Data Especial de Col. de Grau
Ementas
Histórico Escolar
2ª Via Diploma de Grad.
2ª Via DiplomaCertif. de Pós-Gr
Trancamento
Reintegração
Nome Social
Restituição de taxa
Transferência(ex-officio)
Dilatação de curso
Disciplina Isolada
Outros
Nova Graduação na mesma ABI
Ingresso de Refugiados
Auxiliar
Urgência diploma digital

In [2]:
df_segunda_via_pos_graduacao = data['2ª Via DiplomaCertif. de Pós-Gr']

# Transforma a primeira linha em cabeçalho
df_segunda_via_pos_graduacao.columns = df_segunda_via_pos_graduacao.iloc[0]

# Remove a primeira linha (opcional)
df_segunda_via_pos_graduacao= df_segunda_via_pos_graduacao[1:]

df_segunda_via_pos_graduacao.columns

df_segunda_via_pos_graduacao = df_segunda_via_pos_graduacao[['ATRIBUÍDO PARA','STATUS','SETOR','DATA PROTOCOLO']]

df_segunda_via_pos_graduacao.rename(columns={'ATRIBUÍDO PARA':'nome_operador','STATUS':'status','SETOR':'setor','DATA PROTOCOLO':'data_protocolo'},inplace=True)

In [3]:
df_segunda_via_pos_graduacao.columns

Index(['nome_operador', 'status', 'setor', 'data_protocolo'], dtype='object', name=0)

In [4]:
df_segunda_via_pos_graduacao['data_protocolo'] = df_segunda_via_pos_graduacao['data_protocolo'].astype(str)

In [5]:
def separa_data(data_protocolo):
    return data_protocolo.split(' ')[0]


df_segunda_via_pos_graduacao.data_protocolo = df_segunda_via_pos_graduacao.data_protocolo.apply(separa_data)

df_segunda_via_pos_graduacao

0    nome_operador       status                 setor data_protocolo
1     ANA CRISTINA  PROTOCOLADO  GMCA - Pós-Graduação     2023-10-09
2           CARLOS    CANCELADO                   NaN            nan
3           CARLOS    CANCELADO                   NaN            nan
4           CARLOS    CANCELADO                   NaN            nan
5           CARLOS    CANCELADO                   NaN            nan
...            ...          ...                   ...            ...
1094           NaN          NaN                   NaN            nan
1095           NaN          NaN                   NaN            nan
1096           NaN          NaN                   NaN            nan
1097           NaN          NaN                   NaN            nan
1098           NaN          NaN                   NaN            nan

[1098 rows x 4 columns]

In [6]:
df_segunda_via_pos_graduacao['data_protocolo'].unique()

array(['2023-10-09', 'nan', '2023-10-30'], dtype=object)

In [7]:
df_segunda_via_pos_graduacao.dropna(inplace=True)

len(df_segunda_via_pos_graduacao['nome_operador'])

2

In [8]:
df_segunda_via_pos_graduacao

0 nome_operador       status                 setor data_protocolo
1  ANA CRISTINA  PROTOCOLADO  GMCA - Pós-Graduação     2023-10-09
7        RENATA  PROTOCOLADO  GMCA - Pós-Graduação     2023-10-30